repos:
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.14.78
    hooks:
      - id: add-hooks
        args:
          - --ci-gitea
          - --ci-pytest-os=ubuntu-latest
          - --description=Pre-commit hooks
          - --prettier
          - --python
          - --python-package-name-external=qrt-pre-commit-hooks
          - --python-package-name-internal=qrt-pre-commit-hooks
          - --python-uv-native-tls
          - --python-version=3.13
          - --repo-name=pre-commit-hooks
          - --shell
          - --toml
          - --python-uv-index=gitea=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple
        priority: 10
      - id: add-future-import-annotations
        priority: 10
      - id: check-versions-consistent
        priority: 20
      - id: format-pre-commit-config
        priority: 20
      - id: format-requirements
        priority: 10
      - id: pin-cli-requirements
        args:
          - --python-uv-index=gitea=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple
          - --python-uv-native-tls
        priority: 10
      - id: replace-sequence-str
        priority: 10
      - id: run-prek-autoupdate
        priority: 10
      - id: run-version-bump
        priority: 10
      - id: setup-bump-my-version
        args:
          - --python-package-name-internal=qrt-pre-commit-hooks
        priority: 10
      - id: setup-ci-pull-request
        args:
          - --gitea
          - --repo-name=pre-commit-hooks
          - --python-uv-native-tls
          - --python-version=3.13
          - --ci-pytest-os=ubuntu-latest
        priority: 10
      - id: setup-ci-push
        args:
          - --gitea
          - --python-uv-native-tls
        priority: 10
      - id: setup-coverage
        priority: 10
      - id: setup-direnv
        args:
          - --python
          - --python-uv-index=gitea=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple
          - --python-uv-native-tls
          - --python-version=3.13
        priority: 10
      - id: setup-git
        priority: 10
      - id: setup-pre-commit
        priority: 10
      - id: setup-pyproject
        args:
          - --python-version=3.13
          - --description=Pre-commit hooks
          - --python-package-name-external=qrt-pre-commit-hooks
          - --python-package-name-internal=qrt-pre-commit-hooks
          - --python-uv-index=gitea=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple
        priority: 10
      - id: setup-pyright
        args:
          - --python-version=3.13
        priority: 10
      - id: setup-pytest
        args:
          - --python-package-name-internal=qrt-pre-commit-hooks
        priority: 10
      - id: setup-readme
        args:
          - --repo-name=pre-commit-hooks
          - --description=Pre-commit hooks
        priority: 10
      - id: setup-ruff
        args:
          - --python-version=3.13
        priority: 10
      - id: update-ci-action-versions
        priority: 10
      - id: update-ci-extensions
        priority: 10
      - id: update-requirements
        args:
          - --python-uv-index=gitea=https://qrt-bot:e43d1df41a3ecf96e4adbaf04e98cfaf094d253e@gitea.main:3000/api/packages/qrt/pypi/simple
          - --python-uv-native-tls
        priority: 10
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-illegal-windows-names
        priority: 20
      - id: destroyed-symlinks
        priority: 20
      - id: pretty-format-json
        args:
          - --autofix
        priority: 10
  - repo: builtin
    hooks:
      - id: check-added-large-files
        priority: 20
      - id: check-case-conflict
        priority: 20
      - id: check-executables-have-shebangs
        priority: 20
      - id: check-json
        priority: 20
      - id: check-json5
        priority: 20
      - id: check-merge-conflict
        priority: 20
      - id: check-symlinks
        priority: 20
      - id: check-toml
        priority: 20
      - id: check-xml
        priority: 20
      - id: check-yaml
        priority: 20
      - id: detect-private-key
        priority: 20
      - id: end-of-file-fixer
        priority: 10
      - id: fix-byte-order-marker
        priority: 10
      - id: mixed-line-ending
        args:
          - --fix=lf
        priority: 10
      - id: no-commit-to-branch
        priority: 20
      - id: trailing-whitespace
        priority: 10
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args:
          - --fix
        priority: 10
      - id: ruff-format
        priority: 10
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.26
    hooks:
      - id: uv-lock
        args:
          - --upgrade
          - --resolution
          - highest
          - --prerelease
          - disallow
        priority: 10
  - repo: https://github.com/compwa/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        args:
          - --option
          - indent_tables=true
          - --option
          - indent_entries=true
          - --option
          - reorder_keys=true
        priority: 20
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
        priority: 20
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        priority: 10
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: unsupported
        types_or:
          - markdown
          - yaml
        priority: 10
